<!DOCTYPE html>
{% load custom_tags %}
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reactions to episode {{episode.episode_number}}</title>
    <table style="width:100%;">
     <tr>
    <th colspan="2"><strong>Title: {{episode.title}}</strong></th></tr>
        <tr></tr>
    {% for r in reactions %}
    <tr>
    <td style = "width: 50%; text-align:right; vertical-align: bottom;">{{r.created_at}}</td>
    <td style="text-align:left;">
    <strong>{{r.user}}</strong>:&nbsp;
    {% if r|klass == "ImageReaction" %}
         <img height = "100" width = "100" src = "{% static r.image.url %}" />
    {% else %}
         {{r.text}}
    {% endif %}
    </td>
    </tr>
    {% endfor %}
    </table>

</head>
<body>

</body>
</html>